#operator {
  display: flex;
  visibility:hidden;
  position: absolute;
  z-index: 10;
  height: 50px;
  align-items: center;
  background: linear-gradient(to right,#151515 18px,#353536DD 10px);
  border-radius: 6px;
  border: 1px solid #ffffff4d;
  > div {
    margin-right: 8px;
    height: 100%;
    display: flex;
    padding: 4px;
    align-items: center;
  }
  div:first-child {
    display: flex;
    margin-right: 2px;
    align-items: center;
  }

  .operator-btn {
    font-size: 22px;
    cursor: pointer;
    color: #eeeeee;
  }
  .operator-div-move {
    cursor: move;
    font-size: 14px;
  }
}

